	<h1>Sample App</h1>
	<p><%= @home_time %></p>
	<p>This is the home page for the <%= link_to "Ruby On Rails Tutorial" , 'http://railstutorial.org' %>sample application</p>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
